# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/umljava/JavaEjemplo/nbproject/private/
/umljava/TiendaEnlinea/nbproject/private/
/umljava/Bibliboteca/nbproject/private/
/umljava/Bibliboteca/build/
/umljava/WebApplication1/nbproject/private/
/umljava/WebApplication1/build/
/umljava/TiendaSantiago/nbproject/private/
/umljava/TiendaSantiago/build/
/umljava/ceet/nbproject/private/
/umljava/ceet/build/
/umljava/Prueba1/nbproject/private/
/umljava/Prueba1/build/
/umljava/Prueba1/dist/
/umljava/EjemploServicios/nbproject/private/
/umljava/EjemploServicios/build/
/umljava/EjemploServicios/dist/
/umljava/Calculator/CalculatorApp/nbproject/private/
/umljava/Calculator/CalculatorClientApp/nbproject/private/
/umljava/Calculator/CalculatorClientApp/build/
/umljava/Calculator/CalculatorApp/build/
/umljava/ejemploIngenieriaInversa/nbproject/private/
/umljava/webservice1/nbproject/private/
/umljava/ejemploIngenieriaInversa/build/
/umljava/JavaApplication23/nbproject/private/
/umljava/JavaApplication23/build/
/umljava/JavaApplication23/dist/
/umljava/WebApplication2/nbproject/private/
/umljava/WebApplication2/build/
/umljava/WebApplication3/nbproject/private/
/umljava/WebApplication3/build/
/umljava/WebApplication3/dist/
/umljava/EjemploObjetos/nbproject/private/
/umljava/EjemploObjetos/build/
/umljava/EjemploArchivo/nbproject/private/
/umljava/EjemploArchivo/build/
/umljava/CargueArchivo/nbproject/private/
/umljava/CargueArchivo/build/
/umljava/ConvertirStringDate/nbproject/private/
/umljava/ConvertirStringDate/build/
/umljava/JDBCEjemplo1/nbproject/private/
/umljava/JDBCEjemplo2/target/
/umljava/JDBCEjemplo1/build/
/umljava/JDBCEjemplo3/nbproject/private/
/umljava/JDBCEjemplo4/nbproject/private/
/umljava/HolaGit/nbproject/private/